@media (max-width: 480px) {
  #search-container {
    .row-form {
      background-image: unset;
      background-size: unset;
      min-height: 200px;
    }
  }
  .navbar-light {
    span.navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler {
      border-color: $white;
    }
  }

  .form-search {
    background-color: $white;
    &.position-absolute {
      position: relative !important;
    }
  }

  body .page-container {
    padding-bottom: unset !important;
  }

  footer {
    position: unset !important;
  }
}