.table-offers {
  thead {
    background-color: $aqBlue;
    color: $white;
  }
  td {
    vertical-align: middle;
    p {
      margin: 0px;
    }
  }
}
#container-offer-title {
  color: $aqOrange;
  font-size: 22px;
}

#container-offer-display {
  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
  }
}